build/
node_modules/
.vscode/
package-lock.json
yarn.lock
package.json
LICENSE
README.md

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
