// Palette colors
$primary: #e8674d;
$primaryAlt: #1eaaff;
$grayDark: #aaa;
$black: #151515;
$gray: #cdd3d5;
$white: #f5ece9;
$green: #62b273;
$yellow: #e8a13a;
$blush: #eed6c5;
$crystalBlue: #ceeadd;
$red: #a51c30;

// field text vars

// border radius
$border-radius-round: 100px;
$border-radius: 7px;

// box shadow
$box-shadow: 0 0 15px -3px $gray;
$box-shadow-primary: 0 0 15px -3px rgba($primary, 0.75);

// others
